// changing background for pages
#home {
    background-image: url(../../assets/images/home-image.jpg);


}

#emissionen {
    background-image: url(../../assets/images/emissione-image.jpg);
}

#contact {
    background: url(../../assets/images/contact-image.jpg);
    background-size: cover;
    background-position: center;
}

#aboutUs {
    background: url(../../assets/images/aboutUs-image.jpg);
    background-size: cover;
    background-position: center;}


//hero styles
.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    top: 0px;
    z-index: 1;
    width: 100%;


    &__overlay {
        position: absolute;
    top: 0px;
    left: 0;
    padding: 150px 15px 0px 15px;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    }

    &__wrapper {
        padding: 100px 23px;
    
    }

    &__heading {
        color: var(--text-color-light);
        position: relative;
        z-index: 3;
        padding-bottom: 35px;
    }

    &__button {
        color: var(--text-color-light);
        border: 1px solid var(--text-color-light);
    
        position: relative;
        z-index: 3;
    }
}


@media screen and (min-width: 768px) {
    .hero__wrapper {
        width: 90%;
        margin: auto;
        padding: 70px 23px;
    }
}

@media screen and (min-width: 992px) {
    .hero {
        min-height: 600px;


        &__wrapper{
            max-width: 1300px;
            padding: 130px 0px 210px 1.875rem;
            height: 100%;
        }

        &__button{
            float: left;
        }
    }
}