.pageContent {
    margin: 0 16px;
    padding-top: 50px;
}


/* ab landscape tablet */
@media screen and (min-width:992px) {
    .pageContent {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        margin: 0 20px;
    }

    .sidebar {
        min-width: 220px;
        margin-right: 10px;
        height: 100%;
    }

    main {
        width: calc(100% - 220px)
    }
}

/* big monitors */

@media screen and (min-width: 1200px) {

    .pageContent {
        width: calc(100% - 100px);
        margin: auto;
        max-width: 1300px;
    }
 
}