.contactForm {
    margin-top: 4.375rem;
    background-color: var(--darker-grey);
    border-radius: 20px;
    padding: 1.875rem;

    &__container {
        color:pink;
    
        h1, p {
            margin-bottom: 1.25rem;
        }
        

    }

    a {
        text-decoration: none;
        color: black;
    }
   
    @media  screen and (min-width: 768px) {
        display: flex;
        align-items: center;

        &__img {
            width: 30%;
            max-width: 250px;
            margin-left: 1.875rem;
            border-radius: 15px;

        }

    }
}