.LanguageSwitcher {
    color: black;
    margin-right: 1.875rem;
    padding-top: 2.5rem;
}


.LanguageSwitcher>img {
    width: 25px;

}

.language:hover {
    cursor: pointer;
    font-weight: 600;
    transition: 0.1s ease-in-out;
}

.selected-language {
    text-align: center;
    padding-bottom: 1rem;

}

.globe-icon {
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
}

.current-language {
    display: inline;
    vertical-align: top;


}


#options {
    background-color: #ECECEC;
    border-radius: 7px;
    padding: 5px 0px 15px 10px;
    text-align: left;
    font-weight: 500;
}

.language {
    padding-top: 10px;
}



.flag {
    display: inline;
    margin-right: 1rem;
}

.language>p {
    display: inline;
}

.langHidden {
    display: none;
}


@media screen and (min-width: 992px) {
    .LanguageSwitcher {
        padding: 7px 0 0 0;
    }

    
    .selected-language {
        padding: 0;
        float: right;
        display: flex;
    }

    .current-language {
        color:var(--text-color-light);
        display: flex;

    }

    #options {
        position: absolute;
        width:200px;        
        right:2%;
        margin-top: 35px;
        padding-left: 15px;
        background-color: rgb(184, 184, 184, .7);
    }
}

