.contactPage {
    &__grid {
        .contactInfo {
            h4 {
                margin-top: 2rem;
            }
            ul {
                padding-left: 0px;
                line-height: 1.9;
            }
            li {
                list-style-type: none;
                
            }
        }
    }
}



@media screen and (min-width: 768px) {
    .contactPage {
        &__grid {
            display: grid;
            grid-template-columns: 3fr 2fr;
            align-items: center;
            gap: 1rem;

            img {
                border-radius: 1rem;
                max-width: 350px;
                
            }
        }

    }
}

@media screen and (min-width: 992px) {
    .contactPage {
        &__grid {
            width: 70%;
        }
    }
}