
.filter {
    background-color: var(--darker-grey);
    gap: 20px;
    margin-block: 70px 30px;
    padding: 30px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;



    &__container {
        &_text {
            grid-column-end: span 2;
        }       
    }

    &__delete {
        width: 100%;
        grid-column-end: span 2;
    }
    &__textInput {
        width: 100%;
        
    }

    label {
        font-size: 14px;
        color: var(--text-color-dark); 
        margin-bottom: 10px;
    }

    select, &__textInput {
        display: flex;
        padding: 8px;
        font-size: 1rem;
        border-radius: 8px;
        background-color: var(--bg-light-grey);
        border: 1px solid #b9b9b9;
        color: var(--text-color-dark);
        width: 100%;
        margin-top: 7px;
    }

    option {
        color: var(--text-color-dark); 
    }
    
}

.mobile-scroll {
    overflow-x: auto;
}

table { 
    table-layout: fixed;
    border-collapse: collapse;
    

    width: 100%;
}


.tHead {
    background-color: var(--darker-grey);
    height: 50px;
    padding: 30px;
    font-size: 50px;
  
    

    &__column {
        background-color: var(--darker-grey);
        padding-left: 20px;

       
    }
   &__row {
    td:nth-child(1) {
        
        width: 200px;
    }
    td:nth-child(2) {
        
        width: 150px;
    }
    td:nth-child(3) {
        
        width: 150px;
    }
    td:nth-child(4) {
        
        width: 100px;
    }
    
   }
   &__text {
    
   }

   .sorting-arrow {
    width: 1rem;
    margin-left: 1rem;
   }
}

.tBody {
    width: fit-content;
   

    
    &__row {
        border-bottom: 1px solid #b9b9b9;
        
        
    }
    &__data{
        height: 20px;
        padding-block: 17px;
        padding-left: 20px;
        
       
    }



    .collapsible > &__data:nth-child(1)::before {
        content: "";
        background-image: url("./../../assets/images/arrow-down-grey.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;

        width: 20px;
        height: 15px;
        margin-right: 5px;
    }

    &__subrow {
        background-color: var(--darker-grey);

        p {
            font-size: 1rem;  
            margin-left: 2rem;
            margin-bottom: 5px;
            line-height: 1.4;
           
        }
    }

}




.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;


    &__pageInfo {

    }

    &__btnContainer {
        float: right;
    }

    &__btn {
        font-size: 25px;
        padding-inline: 12px;
        width: auto;
        border: none;
    }

    &__btn:disabled {
        opacity: 0.5;
    }

    
}


@media screen and (min-width: 768px) {

    .filter {
        grid-template-columns: 1fr 1fr 1fr;
        &__container {
            &_text {
                grid-column-end: span 3;
            }       
        }
    
        &__delete {
            grid-column-start: 3;
            grid-column-end: 4;
            width: 100%;
            align-self: end;

        }
       

    }

    .pagination  {
        justify-content: center;
        
   

    }
    
}