.page-content {
    margin: 0 16px;
    padding-top: 50px;
}


/* ab landscape tablet */
@media screen and (min-width:992px) {
    .page-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
        margin: 0 20px;
    }

    aside {
        
        min-width: 200px;
        margin-right: 10px;
        height: 100%;
        background-color: green;

    }

    main {
        width: 100%;
        background-color: pink;

    }
}

/* big monitors */

@media screen and (min-width: 1200px) {
    .page-content {
        width: 95%;
        max-width: 1300px;
        margin: auto;
    }
}