.page-content {
    margin: auto;
    width: 90%;
    padding-top: 50px;
}



@media screen and (min-width:992px) {
    .page-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 1300px;

    }

    aside {
        width: 15%;
        min-width: 200px;
        margin-right: 10px;
        height: 100%;


    }

    main {
        width: 85%;

    }
}

@media screen and (min-width: 992px) {}