html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
    background-color: rgb(241, 241, 241);
    margin: 0;

  }
  
 
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  
  button {
    width: 10rem;
    font-family: 'Montserrat';
    font-size: 1.125rem;
    font-weight: 400;
    background-color: transparent;
    color: var(--text-color-dark);
    border: 1px solid var(--text-color-dark);
    height: 40px;
    border-radius: 20px;
  }

button:hover {
    border: 1px var(--text-color-dark) solid;
    font-weight: 500;
    cursor: pointer;
}
  
  
.hidden {
  display: none;
}

.visible {
    display: block;
}


//breakpoints
.desktop, .tablet {
  display: none;
}





@media screen and (min-width: 576px) and (max-width: 768px) {
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }

  
}




@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}