
h1,
h2,
h3,
h4,
p {
  margin: 0px;
  color: rgb(46, 46, 46)
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  
}

h2 {
  font-size: 1.625rem;
  font-weight: 500;

}

h3 {
  font-size:2rem;
  font-weight: 400;

}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  line-height: 27px;
}


@media screen and (min-width: 768px) {
    h1 {
      font-size: 3.125rem;
    }
    
  }
  
  
  /* landscape Tablet und größer */ 
  @media only screen and (min-width: 1200px) {
    h1 {
      font-size:3.75rem;
    }
  
    h2, h3 {
      font-size: 2.2rem;
    }
  
    h4 {
      font-size: 1.563rem;
    }
    p {
      font-size: 1.125rem;
    }
  }